@page
@model Bookstore_allipope.Pages.ConfirmationModel
@{
}

<div class="text-center">
    <h2>Your order has been received and will ship shortly.</h2>
    <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Back to Home</a>
</div>